.columns {
  display: flex;
}

.column {
  padding: 20px;
}

/* handsfree 内部类 */
.handsfree-canvas {
  display: none;
}

.handsfree-video,
.handsfree-debug {
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  position: absolute;
}

/* debugger */
#debugger {
  position: relative;
  width: 500px;
  height: 500px;
}